html {
   box-sizing: border-box;
}

*, *::after, *:before {
   box-sizing: inherit;
}

body {
   font-family: sans-serif;
   font-size: 16px;
   line-height: 1.5;
}

a {
   color: inherit;
   font-weight: bold;
   text-decoration: none;
}

.sidebar {
   background-color: blue;
   padding: 5vw;
}

.blog-item {
   background-color: lightgray;
   padding: 3vw;
}
